<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.saibunglows">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        tools:ignore="ExtraText,MissingApplicationIcon">
        <activity android:name=".BusinessActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".DirectoryActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".Business" />
        <activity android:name=".Search" />
        <activity android:name=".Directory" />
        <activity android:name=".AboutUs" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Android_eg1"
            tools:ignore="MissingClass" />
    </application>

</manifest>